apiVersion: v1
kind: ConfigMap
metadata:
  name: actions-runner-controller-config-map
  namespace: development
data:
  values.yaml: |-
    labels: {}
    replicaCount: 1
    image:
      repository: "ghcr.io/actions/gha-runner-scale-set-controller"
      pullPolicy: IfNotPresent
    imagePullSecrets: []
    nameOverride: ""
    fullnameOverride: ""
    env:
    serviceAccount:
      create: true
      annotations: {}
      name: ""
    podAnnotations: {}
    podLabels: {}
    podSecurityContext: {}
    securityContext: {}
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    topologySpreadConstraints: []
    volumes: []
    volumeMounts: []
    priorityClassName: ""
    flags:
      logLevel: "debug"
      logFormat: "text"
      runnerMaxConcurrentReconciles: 2
      updateStrategy: "immediate"
    namespaceOverride: ""
