#!/bin/sh
# ClamAV host scan cron.daily script
FRESHCLAM={{ 'true' if clamav_freshclam_update else 'false' }}
SCAN_OPTS="{{ clamav_scan_opts }}"
SCAN_PATHS="{{ host_antivirus_scan_paths | join(' ') }}"

if [ "$FRESHCLAM" = "true" ]; then
  # update signatures first (best effort)
  freshclam || true
fi

clamscan $SCAN_OPTS $SCAN_PATHS >/var/log/clamav-host-scan.log 2>&1 || true
