# renovate: registryUrl=https://grafana.github.io/helm-charts
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tempo
  namespace: monitoring
spec:
  chart:
    spec:
      chart: tempo
      version: 1.24.4
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: tempo
  valuesFrom:
  - kind: ConfigMap
    name: tempo-config-map
    valuesKey: values.yaml
