# renovate: registryUrl=https://grafana.github.io/helm-charts
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
  namespace: monitoring
spec:
  chart:
    spec:
      chart: loki
      version: 6.51.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: loki
  valuesFrom:
  - kind: ConfigMap
    name: loki-config-map
    valuesKey: values.yaml
