apiVersion: v1
kind: ConfigMap
metadata:
  name: cilium-config-map
  namespace: kube-system
data:
  values.yaml: |-
      # Cilium Configuration - Only Custom Values
      # Chart defaults are used for all other settings
      
      cluster:
        name: talos
        id: 0
      
      k8sServiceHost: "127.0.0.1"
      k8sServicePort: "6443"
      
      k8sClientRateLimit:
        qps: 50
        burst: 100
      
      scheduling:
        mode: kube-scheduler
      
      updateStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
      
      devices: "eth0,wg0"
      
      routingMode: "native"
      autoDirectNodeRoutes: true
      ipv4NativeRoutingCIDR: "10.244.0.0/24"
      
      loadBalancer:
        algorithm: maglev
      
      kubeProxyReplacement: "true"
      
      ipam:
        mode: "kubernetes"
      
      l2announcements:
        enabled: true
        interface: "eth0"
      
      l2podAnnouncements:
        enabled: true
        interface: "eth0"
      
      bpf:
        masquerade: true
      
      cgroup:
        autoMount:
          enabled: false
        hostRoot: /sys/fs/cgroup
      
      sysctlfix:
        enabled: true
      
      egressGateway:
        enabled: true
      
      securityContext:
        capabilities:
          ciliumAgent:
            - CHOWN
            - KILL
            - NET_ADMIN
            - NET_RAW
            - IPC_LOCK
            - SYS_MODULE
            - SYS_ADMIN
            - SYS_RESOURCE
            - DAC_OVERRIDE
            - FOWNER
            - SETGID
            - SETUID
          cleanCiliumState:
            - NET_ADMIN
            - SYS_ADMIN
            - SYS_RESOURCE
          mountCgroup:
            - SYS_ADMIN
            - SYS_CHROOT
      
      encryption:
        enabled: true
        type: wireguard
        nodeEncryption: false
      
      authentication:
        enabled: true
        mutual:
          spire:
            enabled: true
            install:
              enabled: true
              namespace: kube-service
              existingNamespace: true

