# renovate: registryUrl=https://helm.cilium.io
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
spec:
  chart:
    spec:
      chart: cilium
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: cilium
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: cilium-config-map
    valuesKey: values.yaml
