apiVersion: apps/v1
kind: Deployment
metadata:
  name: pr-agent
  namespace: development
  labels:
    app.kubernetes.io/name: pr-agent
    app.kubernetes.io/managed-by: flux
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: pr-agent
  template:
    metadata:
      labels:
        app.kubernetes.io/name: pr-agent
        app.kubernetes.io/managed-by: flux
    spec:
      runtimeClassName: youki
      automountServiceAccountToken: false
      containers:
        - name: pr-agent
          # renovate: datasource=docker depName=docker.io/codiumai/pr-agent
          image: docker.io/codiumai/pr-agent:0.31-gitea_app
          imagePullPolicy: IfNotPresent
          env:
            - name: CONFIG__GIT_PROVIDER
              value: "gitea"
            - name: GITEA__URL
              value: "http://forgejo:3000"
            - name: GITEA__PERSONAL_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: pr-agent-secrets
                  key: GITEA_PERSONAL_ACCESS_TOKEN
            - name: GITEA__WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: pr-agent-secrets
                  key: GITEA_WEBHOOK_SECRET
            - name: OPENAI__API_BASE
              value: "http://llamacpp-model:8000/v1"
            - name: OPENAI__API_KEY
              value: "empty"
            - name: CONFIG__MODEL
              value: "openai/llama-3.3-8b"
            - name: CONFIG__FALLBACK_MODELS
              value: "openai/llama-3.3-8b"
            - name: CONFIG__CUSTOM_MODEL_MAX_TOKENS
              value: "128256"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
              ephemeral-storage: "1Gi"
            limits:
              cpu: "2000m"
              memory: "8192Mi"
              ephemeral-storage: "5Gi"
          volumeMounts:
            - name: config
              mountPath: /config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: pr-agent-config
