apiVersion: v1
kind: ConfigMap
metadata:
  name: reflector-config-map
  namespace: kube-service
data:
  values.yaml: |-
      replicaCount: 1
      image:
        repository: docker.io/emberstack/kubernetes-reflector
        pullPolicy: IfNotPresent
        tag: ""
      imagePullSecrets: []
      nameOverride: ""
      namespaceOverride: ""
      fullnameOverride: ""
      cron:
        enabled: false
        schedule: "*/15 * * * *"
        activeDeadlineSeconds: 600
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
      configuration:
        logging:
          minimumLevel: Information
        watcher:
          timeout: ""
        kubernetes:
          skipTlsVerify: false
      rbac:
        enabled: true
      serviceAccount:
        create: true
        annotations: {}
        name: ""
      podAnnotations: {}
      podLabels: {}
      extraEnv: []
      podSecurityContext:
        fsGroup: 2000
      securityContext:
        capabilities:
          drop:
            - ALL
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 1000
      livenessProbe:
        httpGet:
          path: /health/live
          port: http
        timeoutSeconds: 10
        initialDelaySeconds: 5
        periodSeconds: 10
        failureThreshold: 5
      readinessProbe:
        httpGet:
          path: /health/ready
          port: http
        timeoutSeconds: 10
        initialDelaySeconds: 5
        periodSeconds: 10
        failureThreshold: 5
      startupProbe:
        httpGet:
          path: /health/ready
          port: http
        timeoutSeconds: 10
        initialDelaySeconds: 5
        periodSeconds: 10
        failureThreshold: 5
      resources:
        {}
      autoscaling:
        enabled: false
        minReplicas: 1
        maxReplicas: 100
        targetCPUUtilizationPercentage: 80
      nodeSelector: {}
      tolerations: []
      affinity: {}
      topologySpreadConstraints: []
      priorityClassName: ""
      volumes: []
      volumeMounts: []
