# renovate: registryUrl=https://emberstack.github.io/helm-charts
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
  namespace: kube-service
spec:
  chart:
    spec:
      chart: reflector
      version: 10.0.13
      sourceRef:
        kind: HelmRepository
        name: emberstack
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: reflector
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: reflector-config-map
    valuesKey: values.yaml
