apiVersion: v1
kind: ConfigMap
metadata:
  name: knative-config-map
  namespace: kube-service
data:
  values.yaml: |-
    knative_operator:
      knative_operator:
        image: gcr.io/knative-releases/knative.dev/operator/cmd/operator@sha256:67a8be76ebe5afc6cdee168f9050abbdaf8a20eedfebe53d65b173e9a9815990
        tag: ""
        affinity: {}
        tolerations: []
        containerSecurityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 1000m
            memory: 1000Mi
      operator_webhook:
        image: gcr.io/knative-releases/knative.dev/operator/cmd/webhook@sha256:e5e1464e7b4a81fda6d56ee63cec9abd91d78450734b3de95ba46bff3d648639
        tag: ""
        affinity:
          # To avoid node becoming SPOF, spread our replicas to different nodes.
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
              - podAffinityTerm:
                  labelSelector:
                    matchLabels:
                      app: operator-webhook
                  topologyKey: kubernetes.io/hostname
                weight: 100
        tolerations: []
        containerSecurityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 500m
            memory: 500Mi
      kubernetes_min_version: v1.25.0