apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  chart:
    spec:
      chart: prometheus
      version: 27.11.0
      sourceRef:
        kind: HelmRepository
        name: prometheus
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: prometheus
  valuesFrom:
  - kind: ConfigMap
    name: prometheus-config-map
    valuesKey: values.yaml