apiVersion: apps/v1
kind: Deployment
metadata:
  name: code-server
  namespace: development
  labels:
    app.kubernetes.io/name: code-server
    app.kubernetes.io/managed-by: flux
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: code-server
      app.kubernetes.io/managed-by: flux
  template:
    metadata:
      labels:
        app.kubernetes.io/name: code-server
        app.kubernetes.io/managed-by: flux
    spec:
      runtimeClassName: youki
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      automountServiceAccountToken: false
      containers:
        - name: code-server
          # renovate: datasource=docker depName=docker.io/codercom/code-server:latest
          image: docker.io/codercom/code-server:latest@sha256:2956e005c038f3d050886163b290adf0cad38cc7605435a1038f4b4b5b3dc5c8
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
              ephemeral-storage: "1Gi"
            limits:
              cpu: "2"
              memory: "4Gi"
              ephemeral-storage: "5Gi"
          volumeMounts:
            - name: config
              mountPath: /home/coder
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: code-server-config
