apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: media
  labels:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/managed-by: flux
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jellyfin
        app.kubernetes.io/managed-by: flux
    spec:
      securityContext:
        supplementalGroups:
          - 44 
      containers:
        - name: jellyfin
          # renovate: datasource=docker depName=lscr.io/linuxserver/jellyfin
          image: lscr.io/linuxserver/jellyfin:latest@sha256:5deb03969f0203a51a51cbc6a773df27014097db6314a61f606f8adcf784f4fb
          ports:
            - containerPort: 7359
              protocol: UDP
            - containerPort: 1900
              protocol: UDP
            - containerPort: 8096
              protocol: TCP
          env:
            - name: UMASK
              value: "022"
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
              gpu.intel.com/i915: "1"
            limits:
              cpu: "4000m"
              memory: "4096Mi"
              gpu.intel.com/i915: "1"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /data
              subPath: media
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config
        - name: media
          persistentVolumeClaim:
            claimName: media
