apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: media
  labels:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/managed-by: flux
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jellyfin
        app.kubernetes.io/managed-by: flux
    spec:
      securityContext:
        supplementalGroups:
          - 44 
      automountServiceAccountToken: false
      containers:
        - name: jellyfin
          # renovate: datasource=docker depName=lscr.io/linuxserver/jellyfin
          image: lscr.io/linuxserver/jellyfin:latest@sha256:6e614901a5e9d04f03b2b84363fcc69285635d4149e23e4cac30b1c9a8ccddac
          ports:
            - containerPort: 7359
              protocol: UDP
            - containerPort: 1900
              protocol: UDP
            - containerPort: 8096
              protocol: TCP
          env:
            - name: UMASK
              value: "022"
            - name: DOCKER_MODS
              value: linuxserver/mods:jellyfin-opencl-intel
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
              gpu.intel.com/i915: "1"
              ephemeral-storage: "10Gi"
            limits:
              cpu: "4000m"
              memory: "4096Mi"
              gpu.intel.com/i915: "1"
              ephemeral-storage: "20Gi"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /data
              subPath: media
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config
        - name: media
          persistentVolumeClaim:
            claimName: media
