apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: media
  labels:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/managed-by: flux
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jellyfin
        app.kubernetes.io/managed-by: flux
    spec:
      securityContext:
        supplementalGroups:
          - 44 
      automountServiceAccountToken: false
      containers:
        - name: jellyfin
          # renovate: datasource=docker depName=lscr.io/linuxserver/jellyfin
          image: lscr.io/linuxserver/jellyfin:latest@sha256:ca65e82841e9502487b04bfc234ed8ca65b52b7f48ab0bd9879e834056d0d7e7
          ports:
            - containerPort: 7359
              protocol: UDP
            - containerPort: 1900
              protocol: UDP
            - containerPort: 8096
              protocol: TCP
          env:
            - name: UMASK
              value: "022"
            - name: DOCKER_MODS
              value: linuxserver/mods:jellyfin-opencl-intel
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
              gpu.intel.com/i915: "1"
              ephemeral-storage: "1Gi"
            limits:
              cpu: "4000m"
              memory: "8192Mi"
              gpu.intel.com/i915: "1"
              ephemeral-storage: "20Gi"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /data
              subPath: media
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config
        - name: media
          persistentVolumeClaim:
            claimName: media
