apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: media
  labels:
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/managed-by: flux
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jellyfin
        app.kubernetes.io/managed-by: flux
    spec:
      runtimeClassName: nvidia
      securityContext:
        supplementalGroups:
          - 44 
      containers:
        - name: jellyfin
          # renovate: datasource=docker depName=lscr.io/linuxserver/jellyfin
          image: lscr.io/linuxserver/jellyfin:latest@sha256:d351d241011e26be29ac06127644c194b5e0d204edb852727afa4df0ee791fb5
          ports:
            - containerPort: 7359
              protocol: UDP
            - containerPort: 1900
              protocol: UDP
            - containerPort: 8096
              protocol: TCP
          env:
            - name: UMASK
              value: "022"
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
              nvidia.com/gpu: "1"
            limits:
              cpu: "4000m"
              memory: "4096Mi"
              nvidia.com/gpu: "1"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /data
              subPath: media
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config
        - name: media
          persistentVolumeClaim:
            claimName: media
