apiVersion: v1
kind: ConfigMap
metadata:
  name: autoscaler-config-map
  namespace: kube-service
data:
  values.yaml: |-
    recommender:
      enabled: true
      extraArgs:
        v: "2"
        pod-recommendation-min-cpu-millicores: 15
        pod-recommendation-min-memory-mb: 100
      resources:
        requests:
          cpu: 50m
          memory: 300Mi
      podMonitor:
        enabled: true
    admissionController:
      enabled: false
      registerWebhook: true
      mutatingWebhookConfiguration:
        failurePolicy: Ignore
        namespaceSelector:
          matchLabels:
            autoscale.hosted.fail: "enabled"
    updater:
      enabled: false
    metrics-server:
      enabled: false
