# renovate: registryUrl=https://charts.fairwinds.com/stable/
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: autoscaler
  namespace: kube-service
spec:
  interval: 15m
  timeout: 5m
  chart:
    spec:
      chart: vpa
      version: 4.10.1
      sourceRef:
        kind: HelmRepository
        name: fairwinds
        namespace: flux-system
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  releaseName: autoscaler
  valuesFrom:
  - kind: ConfigMap
    name: autoscaler-config-map
    valuesKey: values.yaml