apiVersion: apps/v1
kind: Deployment
metadata:
  name: forgejo
  namespace: development
  labels:
    app.kubernetes.io/name: forgejo
    app.kubernetes.io/managed-by: flux
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: forgejo
      app.kubernetes.io/managed-by: flux
  template:
    metadata:
      labels:
        app.kubernetes.io/name: forgejo
        app.kubernetes.io/managed-by: flux
    spec:
      automountServiceAccountToken: false
      containers:
        - name: forgejo
          # renovate: datasource=docker depName=codeberg.org/forgejo/forgejo
          image: codeberg.org/forgejo/forgejo:14@sha256:d59b504313ef3107d9f2e8ce04dd133b4c78218810174a1b2592c1232b0aa888
          imagePullPolicy: IfNotPresent
          env:
            - name: USER_UID
              value: "1000"
            - name: USER_GID
              value: "1000"
          ports:
            - containerPort: 3000
              protocol: TCP
            - containerPort: 22
              protocol: TCP
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
              ephemeral-storage: "10Gi"
            limits:
              cpu: "2"
              memory: "4Gi"
              ephemeral-storage: "20Gi"
          volumeMounts:
            - name: data
              mountPath: /data
            - name: tmp
              mountPath: /tmp
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: forgejo-data
        - name: tmp
          emptyDir: {}
