apiVersion: apps/v1
kind: Deployment
metadata:
  name: wizarr
  namespace: media
  labels:
    app.kubernetes.io/name: wizarr
    app.kubernetes.io/managed-by: flux
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: wizarr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: wizarr
        app.kubernetes.io/managed-by: flux
    spec:
      runtimeClassName: youki
      automountServiceAccountToken: false
      containers:
        - name: wizarr
          # renovate: datasource=docker depName=ghcr.io/wizarrrr/wizarr
          image: ghcr.io/wizarrrr/wizarr:latest@sha256:855e2a9a98eb18ffee26f321aac5a58712bcb04a537f10c21b95d191f9407588
          imagePullPolicy: IfNotPresent
          env:
            - name: DISABLE_BUILTIN_AUTH
              value: "true"
          ports:
            - containerPort: 5690
              protocol: TCP
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
              ephemeral-storage: "1Gi"
            limits:
              cpu: "2000m"
              memory: "2048Mi"
              ephemeral-storage: "5Gi"
          volumeMounts:
            - name: config
              mountPath: /data/database
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: wizarr-config
