apiVersion: v1
kind: ConfigMap
metadata:
  name: sonarqube-config-map
  namespace: development
data:
  values.yaml: |-
    deploymentType: "Deployment"
    replicaCount: 1
    revisionHistoryLimit: 10
    deploymentStrategy:
      type: Recreate
    OpenShift:
      enabled: false
      createSCC: false
      route:
        enabled: false
        host: "sonarqube.your-org.com"
        path: "/"
        tls:
          termination: edge
        wildcardPolicy: None
        annotations: {}
    community:
      enabled: true
      buildNumber: "25.9.0.112764"
    image:
      repository: sonarqube
      pullPolicy: IfNotPresent
    securityContext:
      fsGroup: 1000
    containerSecurityContext:
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        drop: ["ALL"]
        add: ["NET_BIND_SERVICE"]
    elasticsearch:
      configureNode: false
      bootstrapChecks: false
    service:
      type: ClusterIP
      externalPort: 9000
      internalPort: 9000
      labels:
      annotations: {}
    httpProxySecret: ""
    httpProxy: ""
    httpsProxy: ""
    noProxy: ""
    networkPolicy:
      enabled: false
      prometheusNamespace: "monitoring"
    sonarWebContext: ""
    ingress-nginx:
      enabled: false
    httproute:
      enabled: false
    ingress:
      enabled: false
      hosts:
        - name: sonarqube.your-org.com
      annotations: {}
      tls: []
    affinity: {}
    tolerations: []
    nodeSelector: {}
    hostAliases: []
    readinessProbe:
      exec:
        command:
        - sh
        - -c
        - |
          #!/bin/bash
          # A Sonarqube container is considered ready if the status is UP, DB_MIGRATION_NEEDED or DB_MIGRATION_RUNNING
          # status about migration are added to prevent the node to be kill while SonarQube is upgrading the database.
          if wget --no-proxy -qO- http://localhost:{{ .Values.service.internalPort }}{{ .Values.readinessProbe.sonarWebContext | default (include "sonarqube.webcontext" .) }}api/system/status | grep -q -e '"status":"UP"' -e '"status":"DB_MIGRATION_NEEDED"' -e '"status":"DB_MIGRATION_RUNNING"'; then
            exit 0
          fi
          exit 1
      initialDelaySeconds: 60
      periodSeconds: 30
      failureThreshold: 6
      timeoutSeconds: 1
    livenessProbe:
      exec:
        command:
        - sh
        - -c
        - |
          wget --no-proxy --quiet -O /dev/null --timeout={{ .Values.livenessProbe.timeoutSeconds }} --header="X-Sonar-Passcode: $SONAR_WEB_SYSTEMPASSCODE" "http://localhost:{{ .Values.service.internalPort }}{{ .Values.livenessProbe.sonarWebContext | default (include "sonarqube.webcontext" .) }}api/system/liveness"
      initialDelaySeconds: 60
      periodSeconds: 30
      failureThreshold: 6
      timeoutSeconds: 1
    startupProbe:
      initialDelaySeconds: 60
      periodSeconds: 10
      failureThreshold: 90
      timeoutSeconds: 1
    initContainers:
      securityContext:
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
        capabilities:
          drop: ["ALL"]
        readOnlyRootFilesystem: true
      resources: {}
    extraInitContainers: {}
    extraContainers: []
    extraVolumes: []
    extraVolumeMounts: []
    caCerts:
      enabled: false
    initSysctl:
      enabled: false
      vmMaxMapCount: 524288
      fsFileMax: 131072
      nofile: 131072
      nproc: 8192
      securityContext:
        privileged: true
        runAsUser: 0
        readOnlyRootFilesystem: true
    initFs:
      enabled: false
      securityContext:
        privileged: false
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        seccompProfile:
          type: RuntimeDefault
        capabilities:
          drop: ["ALL"]
          add: ["CHOWN"]
        readOnlyRootFilesystem: true
    prometheusExporter:
      enabled: true
      version: "0.17.2"
      noCheckCertificate: false
      webBeanPort: 8000
      ceBeanPort: 8001
      config:
        rules:
          - pattern: ".*"
    prometheusMonitoring:
      podMonitor:
        enabled: false
        interval: 30s
    plugins:
      install: []
      noCheckCertificate: false
    jvmOpts: ""
    jvmCeOpts: ""
    monitoringPasscodeSecretName: "sonarqube-secrets"
    monitoringPasscodeSecretKey: "MONITORING_PASSCODE"
    env:
      - name: SONAR_SEARCH_JAVAOPTS
        value: "-Des.enforce.bootstrap.checks=true"
    annotations: {}
    env:
      - name: SONAR_SEARCH_JAVAOPTS
        value: "-Des.enforce.bootstrap.checks=true"
    resources:
      limits:
        cpu: 800m
        memory: 6144M
        ephemeral-storage: 5Gi
      requests:
        cpu: 400m
        memory: 2048M
        ephemeral-storage: 1536M
    persistence:
      enabled: false
      annotations: {}
      storageClass: "local-path-rwo"
      accessMode: ReadWriteOnce
      size: 5Gi
      uid: 1000
      guid: 1000
      volumes: []
      mounts: []
    emptyDir: {}
    sonarProperties:
      sonar.search.javaOpts: "-Des.enforce.bootstrap.checks=true"
    jdbcOverwrite:
      enabled: true
      jdbcUrl: "jdbc:postgresql://sonarqube-postgres-17/sonarqube"
      jdbcUsername: "sonarqube"
      jdbcSecretName: "sonarqube-secrets"
      jdbcSecretPasswordKey: "POSTGRES_PASSWORD"
    postgresql:
      enabled: false
      image:
        repository: "bitnamilegacy/postgresql"
        tag: 11.14.0
      readinessProbe:
        enabled: false
      customReadinessProbe:
        exec:
          command:
            - /bin/sh
            - -c
            - -e
            - |
              {{- if (include "postgresql.database" .) }}
              exec pg_isready -U {{ include "postgresql.username" . | quote }} -d "dbname={{ include "postgresql.database" . }} {{- if .Values.tls.enabled }} sslcert={{ include "postgresql.tlsCert" . }} sslkey={{ include "postgresql.tlsCertKey" . }}{{- end }}" -h 127.0.0.1 -p {{ .Values.containerPorts.postgresql }}
              {{- else }}
              exec pg_isready -U {{ include "postgresql.username" . | quote }} {{- if .Values.tls.enabled }} -d "sslcert={{ include "postgresql.tlsCert" . }} sslkey={{ include "postgresql.tlsCertKey" . }}"{{- end }} -h 127.0.0.1 -p {{ .Values.containerPorts.postgresql }}
              {{- end }}
              {{- if contains "bitnamilegacy/" .Values.image.repository }}
              [ -f /opt/bitnami/postgresql/tmp/.initialized ] || [ -f /bitnami/postgresql/.initialized ]
              {{- end }}
        failureThreshold: 6
        initialDelaySeconds: 5
        periodSeconds: 10
        successThreshold: 1
        timeoutSeconds: 5
      postgresqlUsername: "sonarUser"
      postgresqlPassword: "sonarPass"
      postgresqlDatabase: "sonarDB"
      service:
        port: 5432
      resources:
        limits:
          cpu: 2
          memory: 2Gi
        requests:
          cpu: 100m
          memory: 200Mi
      persistence:
        enabled: true
        accessMode: ReadWriteOnce
        size: 20Gi
        storageClass: "local-path-rwo"
      securityContext:
        enabled: true
        fsGroup: 1001
      containerSecurityContext:
        enabled: true
        runAsUser: 1001
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        capabilities:
          drop: ["ALL"]
      volumePermissions:
        enabled: false
        securityContext:
          runAsUser: 0
      shmVolume:
        chmod:
          enabled: false
      serviceAccount:
        enabled: false
    podLabels: {}
    sonarqubeFolder: /opt/sonarqube
    tests:
      image: ""
      enabled: false
      resources:
        requests:
          cpu: 500m
          memory: 200M
          ephemeral-storage: 100M
        limits:
          cpu: 500m
          memory: 200M
          ephemeral-storage: 1000M
    serviceAccount:
      create: false
      automountToken: false
      annotations: {}
    extraConfig:
      secrets: []
      configmaps: []
    terminationGracePeriodSeconds: 60
