# renovate: registryUrl=https://charts.goauthentik.io
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  namespace: security
spec:
  chart:
    spec:
      chart: authentik
      version: 2025.10.2
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: authentik
  valuesFrom:
  - kind: ConfigMap
    name: authentik-config-map
    valuesKey: values.yaml
  - kind: Secret
    name: authentik-secrets
    valuesKey: values.yaml
