apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config-map
  namespace: ingress
data:
  values.yaml: |-
    image:
      repository: cloudflare/cloudflared
      tag: "2025.11.1"
      pullPolicy: IfNotPresent
    replicaCount: 1
    imagePullSecrets: []
    nameOverride: ""
    fullnameOverride: ""
    serviceAccount:
      annotations: {}
      name: ""
    podAnnotations: {}
    podLabels: {}
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 65532
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      readOnlyRootFilesystem: true
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
