# renovate: registryUrl=https://cloudflare.github.io/helm-charts
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflared
  namespace: ingress
spec:
  chart:
    spec:
      chart: cloudflare-tunnel-remote
      version: 0.1.2
      sourceRef:
        kind: HelmRepository
        name: cloudflare
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: cloudflared
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: cloudflared-config-map
    valuesKey: values.yaml
  - kind: Secret
    name: cloudflared-secrets
    valuesKey: values.yaml
