---
all:
  children:
    proxmox:
      hosts:
        proxmox-01:
          ansible_host: pve.hosted.fail
          ansible_user: root
      vars:
        ansible_python_interpreter: /usr/bin/python3
