apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-k8s-config-map
  namespace: monitoring
data:
  values.yaml: |-
    mode: daemonset

    image:
      repository: otel/opentelemetry-collector-contrib

    clusterRole:
      create: true
      rules:
        - apiGroups: ['']
          resources: [nodes/proxy]
          verbs: [get]

    presets:
      logsCollection:
        enabled: true
      hostMetrics:
        enabled: true
      kubernetesAttributes:
        enabled: true
        extractAllPodLabels: true
        extractAllPodAnnotations: true
      kubeletMetrics:
        enabled: true
      kubernetesEvents:
        enabled: true
      clusterMetrics:
        enabled: true

    tolerations:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule

    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

    extraEnvs:
      - name: HYPERDX_API_KEY
        valueFrom:
          secretKeyRef:
            name: clickstack-secrets
            key: hyperdx-api-key

    config:
      receivers:
        kubeletstats:
          collection_interval: 20s
          auth_type: serviceAccount
          endpoint: '${env:K8S_NODE_NAME}:10250'
          insecure_skip_verify: true
          metrics:
            k8s.pod.cpu_limit_utilization:
              enabled: true
            k8s.pod.cpu_request_utilization:
              enabled: true
            k8s.pod.memory_limit_utilization:
              enabled: true
            k8s.pod.memory_request_utilization:
              enabled: true
            k8s.pod.uptime:
              enabled: true
            k8s.node.uptime:
              enabled: true
            k8s.container.cpu_limit_utilization:
              enabled: true
            k8s.container.cpu_request_utilization:
              enabled: true
            k8s.container.memory_limit_utilization:
              enabled: true
            k8s.container.memory_request_utilization:
              enabled: true
            container.uptime:
              enabled: true

      exporters:
        otlphttp:
          endpoint: "http://clickstack-otel-collector.monitoring.svc.cluster.local:4318"
          headers:
            authorization: "${env:HYPERDX_API_KEY}"
          compression: gzip

      service:
        pipelines:
          logs:
            exporters: [otlphttp]
          metrics:
            exporters: [otlphttp]
