# renovate: registryUrl=https://open-telemetry.github.io/opentelemetry-helm-charts
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: otel-k8s
  namespace: monitoring
spec:
  chart:
    spec:
      chart: opentelemetry-collector
      version: 0.146.0
      sourceRef:
        kind: HelmRepository
        name: opentelemetry
        namespace: flux-system
  interval: 15m
  timeout: 10m
  releaseName: otel-k8s
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: otel-k8s-config-map
    valuesKey: values.yaml
