# renovate: registryUrl=https://nvidia.github.io/k8s-device-plugin
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nvidia-device-plugin
  namespace: kube-system
spec:
  interval: 10m
  timeout: 5m
  targetNamespace: kube-system
  releaseName: nvidia-device-plugin
  chart:
    spec:
      chart: nvidia-device-plugin
      sourceRef:
        kind: HelmRepository
        name: nvdp
        namespace: flux-system
      version: 0.18.2
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: gpu-operator-config-map
    valuesKey: values.yaml
