apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-config-map
  namespace: monitoring
data:
  values.yaml: |-
    nameOverride: alloy
    alloy:
      controller:
        type: daemonset
        tolerations:
          - key: node-role.kubernetes.io/control-plane
            operator: Exists
            effect: NoSchedule
          - key: node-role.kubernetes.io/master
            operator: Exists
            effect: NoSchedule
        podAnnotations:
          prometheus.io/scrape: "true"
          prometheus.io/port: "9464"
      podSecurityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        runAsNonRoot: false
      securityContext:
        privileged: true
      mounts:
        varlog: true
        dockercontainers: true
      volumes:
        extra:
          - name: pod-logs
            hostPath:
              path: /var/log/pods
              type: DirectoryOrCreate
      extraVolumeMounts:
        - name: pod-logs
          mountPath: /var/log/pods
          readOnly: true
      extraPorts:
        - name: prom-metrics
          port: 9464
          targetPort: 9464
        - name: syslog-udp
          port: 514
          targetPort: 514
          protocol: UDP
        - name: syslog-tcp
          port: 514
          targetPort: 514
          protocol: TCP
      resources:
        requests:
          cpu: 200m
          memory: 256Mi
        limits:
          cpu: 1000m
          memory: 768Mi
      configMap:
        create: true
        content: |
          logging {
            level  = "info"
            format = "logfmt"
          }
          loki.write "default" {
            endpoint {
              url = "http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push"
            }
          }
          loki.source.syslog "syslog" {
            listener {
              address        = "0.0.0.0:514"
              protocol       = "tcp"
              syslog_format  = "rfc3164"
              labels   = {
                job     = "external-syslog",
                source  = "syslog",
                cluster = "talos-single-node",
              }
            }
            listener {
              address        = "0.0.0.0:514"
              protocol       = "udp"
              syslog_format  = "rfc3164"
              labels   = {
                job     = "external-syslog",
                source  = "syslog",
                cluster = "talos-single-node",
              }
            }
            forward_to = [loki.write.default.receiver]
          }
    service:
      enabled: true
      type: ClusterIP
      extraPorts:
        - name: prom-metrics
          port: 9464
          targetPort: 9464
        - name: syslog-udp
          protocol: UDP
          port: 514
          targetPort: 514
        - name: syslog-tcp
          protocol: TCP
          port: 514
          targetPort: 514
    serviceMonitor:
      enabled: true
      interval: 30s
      additionalLabels: {}
