apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant
  namespace: default
  labels:
    app.kubernetes.io/name: homeassistant
    app.kubernetes.io/managed-by: flux
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: homeassistant
  template:
    metadata:
      labels:
        app.kubernetes.io/name: homeassistant
        app.kubernetes.io/managed-by: flux
    spec:
      runtimeClassName: youki
      containers:
        - name: homeassistant
          # renovate: datasource=docker depName=lscr.io/linuxserver/homeassistant
          image: lscr.io/linuxserver/homeassistant:latest@sha256:df17ed3ddb99f06ae99bc2ee40c72f2c5e93c80d8e64b440e10e02accec01b50
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8123
              protocol: TCP
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
          volumeMounts:
            - name: config
              mountPath: /config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: homeassistant-config
