apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config-map
  namespace: ingress
data:
  values.yaml: |-
      image:
        registry: docker.io
        repository: traefik
        tag:
        pullPolicy: IfNotPresent
      commonLabels: {}
      deployment:
        enabled: true
        kind: Deployment
        replicas: 1
        revisionHistoryLimit:
        terminationGracePeriodSeconds: 60
        minReadySeconds: 0
        healthchecksPort:
        healthchecksHost: ""
        healthchecksScheme:
        readinessPath: ""
        livenessPath: ""
        annotations: {}
        labels: {}
        podAnnotations: {}
        podLabels: {}
        additionalContainers: []
        initContainers: []
        shareProcessNamespace: false
        dnsPolicy: ""
        dnsConfig: {}
        hostAliases: []
        imagePullSecrets: []
        lifecycle: {}
        runtimeClassName: ""
      podDisruptionBudget:
        enabled: false
        maxUnavailable:
        minAvailable:
      ingressClass:
        enabled: true
        isDefaultClass: true
        name: ""
      core:
        defaultRuleSyntax: ""
      experimental:
        abortOnPluginFailure: false
        fastProxy:
          enabled: false
          debug: false
        kubernetesGateway:
          enabled: false
        plugins: {}
      gateway:
        enabled: true
        name: ""
        namespace: ""
        annotations: {}
        infrastructure: {}
        listeners:
          web:
            port: 8000
            hostname: ""
            protocol: HTTP
            namespacePolicy:
      gatewayClass:
        enabled: true
        name: ""
        labels: {}
      ingressRoute:
        dashboard:
          enabled: false
          annotations: {}
          labels: {}
          matchRule: PathPrefix(`/dashboard`) || PathPrefix(`/api`)
          services:
            - name: api@internal
              kind: TraefikService
          entryPoints: ["traefik"]
          middlewares: []
          tls: {}
        healthcheck:
          enabled: false
          annotations: {}
          labels: {}
          matchRule: PathPrefix(`/ping`)
          services:
            - name: ping@internal
              kind: TraefikService
          entryPoints: ["traefik"]
          middlewares: []
          tls: {}
      updateStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 0
          maxSurge: 1
      readinessProbe:
        failureThreshold: 1
        initialDelaySeconds: 2
        periodSeconds: 10
        successThreshold: 1
        timeoutSeconds: 2
      livenessProbe:
        failureThreshold: 3
        initialDelaySeconds: 2
        periodSeconds: 10
        successThreshold: 1
        timeoutSeconds: 2
      startupProbe: {}
      providers:
        kubernetesCRD:
          enabled: true
          allowCrossNamespace: true
          allowExternalNameServices: false
          allowEmptyServices: true
          ingressClass: ""
          namespaces: []
          nativeLBByDefault: false
        kubernetesIngress:
          enabled: true
          allowExternalNameServices: false
          allowEmptyServices: true
          ingressClass:
          namespaces: []
          publishedService:
            enabled: true
            pathOverride: ""
          nativeLBByDefault: false
        kubernetesGateway:
          enabled: false
          experimentalChannel: false
          namespaces: []
          labelselector: ""
          nativeLBByDefault: false
          statusAddress:
            ip: ""
            hostname: ""
            service:
              enabled: true
              name: ""
              namespace: ""
        file:
          enabled: false
          watch: true
          content: ""
      volumes: []
      additionalVolumeMounts: []
      logs:
        general:
          format:
          level: "INFO"
          filePath: ""
          noColor: false
        access:
          enabled: false
          format:
          bufferingSize:
          filters:
            statuscodes: ""
            retryattempts: false
            minduration: ""
          addInternals: false
          fields:
            general:
              defaultmode: keep
              names: {}
            headers:
              defaultmode: drop
              names: {}
      metrics:
        addInternals: false
        prometheus:
          entryPoint: metrics
          addEntryPointsLabels:
          addRoutersLabels:
          addServicesLabels:
          buckets: ""
          manualRouting: false
          headerLabels: {}
          service:
            enabled: true
            labels: {}
            annotations: {}
          disableAPICheck:
          serviceMonitor:
            enabled: true
            metricRelabelings: []
            relabelings: []
            jobLabel: ""
            interval: ""
            honorLabels: false
            scrapeTimeout: ""
            honorTimestamps: false
            enableHttp2: false
            followRedirects: false
            additionalLabels: {}
            namespace: ""
            namespaceSelector: {}
          prometheusRule:
            enabled: false
            additionalLabels: {}
            namespace: ""
        otlp:
          enabled: false
          addEntryPointsLabels:
          addRoutersLabels:
          addServicesLabels:
          explicitBoundaries: []
          pushInterval: ""
          http:
            enabled: false
            endpoint: ""
            headers: {}
            tls:
              ca: ""
              cert: ""
              key: ""
              insecureSkipVerify:
          grpc:
            enabled: false
            endpoint: ""
            insecure: false
            tls:
              ca: ""
              cert: ""
              key: ""
              insecureSkipVerify: false
      tracing:
        addInternals: false
        serviceName:
        resourceAttributes: {}
        capturedRequestHeaders: []
        capturedResponseHeaders: []
        safeQueryParams: []
        sampleRate:
        otlp:
          enabled: false
          http:
            enabled: false
            endpoint: ""
            headers: {}
            tls:
              ca: ""
              cert: ""
              key: ""
              insecureSkipVerify: false
          grpc:
            enabled: false
            endpoint: ""
            insecure: false
            tls:
              ca: ""
              cert: ""
              key: ""
              insecureSkipVerify: false
      globalArguments:
      - "--global.checknewversion"
      - "--global.sendanonymoususage"
      additionalArguments: []
      env: []
      envFrom: []
      ports:
        traefik:
          port: 8080
          hostPort:
          hostIP:
          expose:
            default: false
          exposedPort: 8080
          protocol: TCP
        web:
          port: 8000
          expose:
            default: true
          exposedPort: 80
          targetPort:
          protocol: TCP
          nodePort:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
          forwardedHeaders:
            trustedIPs: []
            insecure: false
          proxyProtocol:
            trustedIPs: []
            insecure: false
          transport:
            respondingTimeouts:
              readTimeout:
              writeTimeout:
              idleTimeout:
            lifeCycle:
              requestAcceptGraceTimeout:
              graceTimeOut:
            keepAliveMaxRequests:
            keepAliveMaxTime:
        websecure:
          port: 8443
          hostPort:
          containerPort:
          expose:
            default: true
          exposedPort: 443
          targetPort:
          protocol: TCP
          nodePort:
          appProtocol:
          allowACMEByPass: false
          http3:
            enabled: false
            advertisedPort:
          forwardedHeaders:
            trustedIPs: []
            insecure: false
          proxyProtocol:
            trustedIPs: []
            insecure: false
          transport:
            respondingTimeouts:
              readTimeout:
              writeTimeout:
              idleTimeout:
            lifeCycle:
              requestAcceptGraceTimeout:
              graceTimeOut:
            keepAliveMaxRequests:
            keepAliveMaxTime:
          tls:
            enabled: true
            options: ""
            certResolver: ""
            domains: []
          middlewares: []
        metrics:
          port: 9100
          expose:
            default: false
          exposedPort: 9100
          protocol: TCP
        syslogudp:
          port: 1514
          expose:
            default: true
          exposedPort: 1514
          protocol: UDP
        syslogtcp:
          port: 1514
          expose:
            default: true
          exposedPort: 1514
          protocol: TCP
      tlsOptions: {}
      tlsStore: {}
      service:
        enabled: true
        single: true
        type: LoadBalancer
        annotations: {}
        annotationsTCP: {}
        annotationsUDP: {}
        labels: {}
        spec:
          externalTrafficPolicy: Local
          loadBalancerIP: "10.0.0.249"
        loadBalancerSourceRanges: []
        externalIPs: []
        additionalServices: {}
      autoscaling:
        enabled: false
      persistence:
        enabled: false
        name: data
        existingClaim: ""
        accessMode: ReadWriteOnce
        size: 128Mi
        storageClass: "local-path-rwo"
        volumeName: ""
        path: /data
        annotations: {}
        subPath: ""
      certificatesResolvers: {}
      hostNetwork: false
      rbac:
        enabled: true
        namespaced: false
        aggregateTo: []
        secretResourceNames: []
      podSecurityPolicy:
        enabled: false
      serviceAccount:
        name: ""
      serviceAccountAnnotations: {}
      resources: {}
      affinity: {}
      nodeSelector: {}
      tolerations: []
      topologySpreadConstraints: []
      priorityClassName: ""
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop: [ALL]
        readOnlyRootFilesystem: true
      podSecurityContext:
        runAsGroup: 65532
        runAsNonRoot: true
        runAsUser: 65532
      extraObjects: []
      namespaceOverride: ""
      instanceLabelOverride: ""
      hub:
        token: ""
        apimanagement:
          enabled: false
          admission:
            listenAddr: ""
            secretName: ""
          openApi:
            validateRequestMethodAndPath: false
        experimental:
          aigateway: false
        providers:
          consulCatalogEnterprise:
            enabled: false
            cache: false
            connectAware: false
            connectByDefault: false
            constraints: ""
            defaultRule: "Host(`{{ normalize .Name }}`)"
            endpoint:
              address: ""
              datacenter: ""
              endpointWaitTime: 0
              httpauth:
                password: ""
                username: ""
              scheme: ""
              tls:
                ca: ""
                cert: ""
                insecureSkipVerify: false
                key: ""
              token: ""
            exposedByDefault: true
            namespaces: ""
            partition: ""
            prefix: "traefik"
            refreshInterval: 15
            requireConsistent: false
            serviceName: "traefik"
            stale: false
            strictChecks: "passing, warning"
            watch: false
          microcks:
            enabled: false
            auth:
              clientId: ""
              clientSecret: ""
              endpoint: ""
              token: ""
            endpoint: ""
            pollInterval: 30
            pollTimeout: 5
            tls:
              ca: ""
              cert: ""
              insecureSkipVerify: false
              key: ""
        redis:
          cluster:
          database:
          endpoints: ""
          username: ""
          password: ""
          sentinel:
            masterset: ""
            username: ""
            password: ""
          timeout: ""
          tls:
            ca: ""
            cert: ""
            key: ""
            insecureSkipVerify: false
        sendlogs:
        tracing:
          additionalTraceHeaders:
            enabled: false
            traceContext:
              parentId: ""
              traceId: ""
              traceParent: ""
              traceState: ""
