apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: forgejo-ssh
  namespace: ingress
spec:
  entryPoints:
    - ssh
  routes:
    - match: HostSNI(`*`)
      services:
        - name: forgejo
          namespace: development
          port: 22
