apiVersion: v1
kind: ConfigMap
metadata:
  name: librechat-config-map
  namespace: development
data:
  values.yaml: |-
    replicaCount: 1
    global:
      librechat:
        existingSecretName: "librechat-secrets"
        existingSecretApiKey: OPENAI_API_KEY
    librechat:
      configEnv:
        PLUGIN_MODELS: gpt-oss-20b
        DEBUG_PLUGINS: "true"
        ALLOW_EMAIL_LOGIN: "true"
        ALLOW_REGISTRATION: "true"
        ALLOW_SOCIAL_LOGIN: "false"
        ALLOW_SOCIAL_REGISTRATION: "false"
      existingSecretName: "librechat-secrets"
      configYamlContent: |
        version: 1.2.9
        cache: true
        interface:
          privacyPolicy:
            externalUrl: 'https://librechat.ai/privacy-policy'
            openNewTab: true
          termsOfService:
            externalUrl: 'https://librechat.ai/tos'
            openNewTab: true
        endpoints:
          custom:
            - name: "llamacpp"
              apiKey: "llamacpp"
              baseURL: "http://llamacpp-model:8000/v1"
              models:
                default: ['llama-3.3-8b']
                fetch: true
              titleConvo: true
              titleModel: "current_model"
              titleMessageRole: "user"
              summarize: false
              summaryModel: "current_model"
              forcePrompt: false
              modelDisplayLabel: "llamacpp"
              tools: true
              addParams:
                temperature: 1.0
                top_p: 1.0
                max_tokens: 16384
                frequency_penalty: 0
                presence_penalty: 0
      imageVolume:
        enabled: true
        size: 10G
        accessModes: ReadWriteOnce
        storageClassName: "local-path-rwo"
    librechat-rag-api:
      enabled: false
      embeddingsProvider: openai
    image:
      repository: danny-avila/librechat
      registry: ghcr.io
      pullPolicy: IfNotPresent
      tag: ""
    imagePullSecrets: []
    nameOverride: ""
    fullnameOverride: ""
    serviceAccount:
      create: true
      automount: true
      annotations: {}
      name: ""
    lifecycle: {}
    podAnnotations: {}
    podLabels: {}
    podSecurityContext:
      fsGroup: 2000
    securityContext:
      capabilities:
        drop:
        - ALL
      runAsNonRoot: true
      runAsUser: 1000
    service:
      type: ClusterIP
      port: 3080
      annotations: {}
    ingress:
      enabled: false
      className: ""
      annotations: {}
      hosts:
        - host: librechat.hosted.fail
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls: []
    resources: {}
    autoscaling:
      enabled: false
      minReplicas: 1
      maxReplicas: 100
      targetCPUUtilizationPercentage: 80
    livenessProbe:
      httpGet:
        path: /health
        port: http
    readinessProbe:
      httpGet:
        path: /health
        port: http
    volumes: []
    volumeMounts: []
    nodeSelector: {}
    tolerations: []
    affinity: {}
    updateStrategy:
      type: RollingUpdate
    mongodb:
      enabled: true
      auth:
        enabled: false
      databases:
      - LibreChat
      persistence: 
        size: 8Gi
    meilisearch:
      enabled: true
      persistence:
        enabled: true
        storageClass: "local-path-rwo"
      image: 
        tag: "v1.7.3"
      auth:
        existingMasterKeySecret: "librechat-secrets"
