# renovate: registryUrl=https://mend.github.io/renovate-ce-ee
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: renovate
  namespace: development
spec:
  chart:
    spec:
      chart: mend-renovate-ce
      version: 13.4.0
      sourceRef:
        kind: HelmRepository
        name: renovate
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: renovate
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: renovate-config-map
    valuesKey: values.yaml
