# renovate: registryUrl=https://falcosecurity.github.io/charts
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: falco
  namespace: security
spec:
  chart:
    spec:
      chart: falco
      version: 7.0.5
      sourceRef:
        kind: HelmRepository
        name: falcosecurity
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: falco
  valuesFrom:
  - kind: ConfigMap
    name: falco-config-map
    valuesKey: values.yaml
