apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: falco
  namespace: security
  labels:
    app.kubernetes.io/name: falco
    app.kubernetes.io/managed-by: flux
    release: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: falco
      app.kubernetes.io/instance: falco
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
      scheme: http
