# renovate: datasource=docker depName=ghcr.io/nginx/charts/nginx-gateway-fabric
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nginx-gateway-fabric
  namespace: ingress
spec:
  chart:
    spec:
      chart: nginx-gateway-fabric
      version: 2.4.2
      sourceRef:
        kind: HelmRepository
        name: nginx-gateway-fabric
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: nginx-gateway-fabric
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: nginx-gateway-fabric-config-map
    valuesKey: values.yaml
