# renovate: registryUrl=oci://ghcr.io/nginx/charts depName=nginx-gateway-fabric datasource=helm
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nginx-gateway-fabric
  namespace: ingress
spec:
  chart:
    spec:
      chart: nginx-gateway-fabric
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: nginx-gateway-fabric
        namespace: flux-system
  interval: 15m
  timeout: 5m
  releaseName: nginx-gateway-fabric
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: nginx-gateway-fabric-config-map
    valuesKey: values.yaml
