apiVersion: v1
kind: ConfigMap
metadata:
    name: coredns
    namespace: kube-system
data:
    Corefile: |-
        .:53 {
            errors
            health {
                lameduck 5s
            }
            ready
            log . {
                class error
            }
            prometheus :9153

            kubernetes cluster.local in-addr.arpa ip6.arpa {
                pods insecure
                fallthrough in-addr.arpa ip6.arpa
                ttl 30
            }

            # Add a static DNS record for the Talos node
            hosts {
                10.0.0.250 talos-4m3-8nj talos-4m3-8nj.cluster.local
                fallthrough
            }

            forward . 10.0.0.1 {
                max_concurrent 1000
            }
            cache 30 {
                disable success cluster.local
                disable denial cluster.local
            }
            loop
            reload
            loadbalance
        }
