name: SonarQube

permissions:
  contents: read
  
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Analyze
    runs-on: actions-runner

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_SCANNER_OPTS: >
            -Dsonar.sources=ansible,k8s,terraform
            -Dsonar.inclusions=**/*.yaml,**/*.yml,**/*.json,**/*.tf,**/*.hcl
            -Dsonar.projectKey=homelab
